#################################################
# Python
#################################################

.venv/
__pycache__/
*.py[cod]
*.so

#################################################
# Environment
#################################################

.env

#################################################
# Logs
#################################################

logs/
*.log

#################################################
# Vector Stores
#################################################

#################################################
# Model Checkpoints
#################################################

checkpoints/

#################################################
# HuggingFace Cache
#################################################

.huggingface/

#################################################
# Frontend
#################################################

frontend/node_modules/
frontend/dist/

#################################################
# VSCode
#################################################

.vscode/

#################################################
# OS
#################################################

.DS_Store
Thumbs.db

#################################################
# Docker
#################################################

*.tar
#################################################
# Hugging Face / Transformers
#################################################

.cache/
hf_cache/
transformers_cache/

#################################################
# Local Models
#################################################

*.pt
*.pth
*.ckpt
*.bin
*.safetensors

# Large downloaded models
backend/models/

# Keep project artifacts
!backend/english_rag/models/english/
!backend/english_rag/models/fine_tuned_cross_encoder/
!backend/hindi_rag/embeddings/
!backend/english_rag/models/fine_tuned_cross_encoder/model.safetensors

# Fine-tuned models
# Fine-tuned Hindi cross encoder
backend/hindi_rag/models/crossencoder_finetuned_hi/*
!backend/hindi_rag/models/crossencoder_finetuned_hi/model.safetensors
!backend/hindi_rag/models/crossencoder_finetuned_hi/config.json
!backend/hindi_rag/models/crossencoder_finetuned_hi/config_sentence_transformers.json
!backend/hindi_rag/models/crossencoder_finetuned_hi/modules.json
!backend/hindi_rag/models/crossencoder_finetuned_hi/sentence_bert_config.json
!backend/hindi_rag/models/crossencoder_finetuned_hi/tokenizer.json
!backend/hindi_rag/models/crossencoder_finetuned_hi/tokenizer_config.json
!backend/hindi_rag/models/crossencoder_finetuned_hi/README.md

# Keep English model
!backend/english_rag/models/fine_tuned_cross_encoder/model.safetensors

# Ignore other fine-tuned models
backend/english_rag/models/crossencoder_finetuned/
.vercel
.env*
