##################################################
# Gemini
##################################################

GEMINI_API_KEY=

MODEL_NAME=gemini-2.5-flash

##################################################
# Provider
##################################################

LLM_PROVIDER=gemini

##################################################
# FastAPI
##################################################

HOST=127.0.0.1

PORT=8000

APP_ENV=development

##################################################
# Ollama (Optional)
##################################################

OLLAMA_URL=http://localhost:11434

OLLAMA_MODEL=llama3.2:3b