# ============================
# API
# ============================

fastapi
uvicorn
python-dotenv
pydantic

# ============================
# ML
# ============================

numpy
torch
faiss-cpu

transformers
sentence-transformers
accelerate

# ============================
# Google
# ============================

google-genai
google-adk

# ============================
# MCP
# ============================

mcp

# ============================
# Language Detection
# ============================

langdetect

# ============================
# Utilities
# ============================

tqdm
requests